
<div class="cont">
  
    <div class="form">
      <form [formGroup]="RegisterForm">
        <h1>Sign Up</h1>
        <input type="text"
               class="user" formControlName="first_name"
               placeholder="First Name"
               [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
               <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                <div *ngIf="f.first_name.errors.required">First Name is required</div>
              </div>
        <input type="text"
               class="user" formControlName="last_name"
               placeholder="Last Name"
               [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" />
               <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                <div *ngIf="f.last_name.errors.required">Last Name is required</div>
              </div>
        <input type="text"
               class="user" formControlName="email"
               placeholder="Email"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
               <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
        <input type="text"
               class="user" formControlName="mobile_no"
               placeholder="Mobile No"
               [ngClass]="{ 'is-invalid': submitted && f.mobile_no.errors }" />
               <div *ngIf="submitted && f.mobile_no.errors" class="invalid-feedback">
                <div *ngIf="f.mobile_no.errors.required">Mobile No is required</div>
              </div>
              
              <!-- <div class="row" style="text-align: center;">
                <div class="col-lg-12 col-md-12">
                    <label>Gender</label>
                </div> 
                <div class="col-lg-4 col-md-4">
                    <div class="custom-control custom-radio">
                        <input type="radio" formControlName="gender" class="custom-control-input" id="male" name="defaultExampleRadios" checked mdbInput>
                        <label class="custom-control-label" for="male">Male</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="custom-control custom-radio">
                        <input type="radio" formControlName="gender" class="custom-control-input" id="female" name="defaultExampleRadios" mdbInput>
                        <label class="custom-control-label" for="female">Female</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="custom-control custom-radio">
                        <input type="radio" formControlName="gender" class="custom-control-input" id="others" name="defaultExampleRadios" mdbInput>
                        <label class="custom-control-label" for="others">Others</label>
                    </div>
                </div>
              </div> -->
           
        <textarea class="user" style="height: 85px;" formControlName="address" placeholder="Address"
                [ngClass]="{ 'is-invalid': submitted && f.address.errors }" >
                </textarea>
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Address is required</div>
                  </div>
        <input type="password" 
               class="pass" formControlName="password"
               placeholder="Password"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
               <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
              </div>
        <input type="password" 
               class="pass" formControlName="cnfrm_password"
               placeholder="cnfrm_password"
               [ngClass]="{ 'is-invalid': submitted && f.cnfrm_password.errors }" />
               <div *ngIf="submitted && f.cnfrm_password.errors" class="invalid-feedback">
                <div *ngIf="f.cnfrm_password.errors.required">Re Password is required</div>
              </div>
            <div>
                <div style="color: red;"><small>{{PasswordMatch}}</small></div>
            </div>
          <button type="submit" (click)="onSubmit()" class="login">Register</button>
          <button type="submit" (click)="onLogin()" class="login" >Login</button>
      </form>
    </div>
    
  </div>
  