

body {
    background: #fff;
    direction: ltr;
    font-size: 14px;
    line-height: 1.4286;
    margin: 0;
    padding: 0;
    color: #212121;
    font-family: roboto, arial, sans-serif;
    display: block;
    background-image:url("http://oswallpapers.com/wp-content/uploads/2017/04/Yak_Wallpaper_Grey_4096x2304.jpg");
    
  }
  .LJtPoc{
    min-height: 0;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      display: block;
      margin:0 auto;
      box-sizing: border-box;
      max-width: 100%;
      position: relative;
      z-index: 2;
      width: 450px;
      flex-direction: column;
    margin-top: 6.932%;
    margin-bottom:6.932% ;
    
  }
  
  .bdf4dc{
    height:416px;
    min-height:416px;
    overflow-y: auto;
    padding: 48px 40px 36px;
    -webkit-box-flex: 1;
    flex-grow: 1;
  }
  .SSBsw{
    height: 24px;
    overflow: visible;
    position: relative;
    width:370px;
    display: block;
  }
  
  .sfYUmb {
      padding-bottom: 0;
      padding-top: 16px;
      -webkit-margin-before: 0px;
      -webkit-margin-after: 0.67em;
      -webkit-margin-start: 0.67em;
      -webkit-margin-end: 0px;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      margin: 0;
      display: block;
  }
  .FgbZLd{
    padding-bottom: 3px;
    padding-top: 1px;
    margin: 0;
    display: block;
      -webkit-margin-before:0px;
      -webkit-margin-after: 0px;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
  }
  a{
    text-decoration: none;
    
    color: #4285f4;
  }
  .linka{
    margin-top: 40px;
   
  }
  .place{
    margin-top: 30px;
    
    
  }
  .buttons{
    font-size: 14px;
    white-space: normal;
    align-terms: center;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
    min-height: 48px;
    background: #000;
  }
  
  input[type=text] {
      width:100%;
      padding: 12px 10px;
      
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
  }
  input[type=password] {
    width:100%;
    padding: 12px 10px;
    
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
  .button{
    float:right;
    background: #4285f4;
    color: white;
    border:none;
    display:block;
  }
  
   
  .edit_button {
      float: right;
      margin: 0 10px 10px 0; /* for demo only */
      line-height: 34px;
      min-width: 88px;
    color: white;
    background: #4285f4;
    border:none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      height:36;
    -webkit-appearance:default-button;
    min-height:36;
    height:36;
  }
  .lala{
    margin-top: 32px;
      min-height: 48px;
  }
  .VYMape{
    bottom: 0;
      direction: ltr;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      background: #e0e0e0;
  }
  
  .main-footer{
    height: 16.8px;
      padding: 30px 30px 30px 30px;
      position: absolute;
      width: 100%;
    justify-content: space-between;
      font-size: 12px;
      line-height: 1.4;
      
  }
  
  
  .leftsa{
    color:black;
    height:16.8px;
    display:block;
    width:30%;
    display: inline-block;
  }
  .right-footer{
    list-style:none;
    float:right;
    display: inline-block;
    -webkit-margin-before: 0px;
      -webkit-margin-after: 0px;
  }
  .right-footer a{
    color: #757575;
    padding: 6px 16px;
    font-size: 12px;
      line-height: 1.4;
  }
  li{
    display: inline-block;
  }
  
