<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h2>Open Weather Map API</h2>
</div>
  
<div class="container">
  
    <div class="row">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6">
            <div class="input-group">
                <input type="text" class="form-control input-sm" name="SearchText" [(ngModel)]='SearchText' placeholder="Search">
                <span class="input-group-btn">
                    <button type="button" style="height: 38px;" class="btn_ btn-primary btn-sm search" (click)='SearchEvent()' ><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-md-3"></div>
    </div>
    
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-lg-8 grid-margin stretch-card">
                    <!--weather card-->
                    <div class="card card-weather">
                        <div class="card-body">
                            <div class="weather-date-location">
                                <h3>{{GetAllList.name}}</h3>
                            </div>
                            <div class="weather-data d-flex">
                                <div class="mr-auto">
                                    <h4 class="display-3">{{GetAllList.main.temp}} <span class="symbol">°</span>C</h4>
                                    <div *ngFor="let WeatherList of GetAllList.weather; let i=index">
                                        <p> {{WeatherList.main}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="d-flex weakly-weather">
                                <div class="weakly-weather-item">
                                    <p class="mb-0"> Wind </p> <i class="mdi mdi-weather-cloudy"></i>
                                    <p class="mb-0"> {{GetAllList.wind.speed}} m/s </p>
                                    <p class="mb-0"> {{GetAllList.wind.deg}}° C </p>
                                </div>
                                <div class="weakly-weather-item">
                                    <p class="mb-1"> pressure </p> <i class="mdi mdi-weather-hail"></i>
                                    <p class="mb-0"> {{GetAllList.main.pressure}} hpa </p>
                                </div>
                                <div class="weakly-weather-item">
                                    <p class="mb-1"> Min Temp </p> <i class="mdi mdi-weather-partlycloudy"></i>
                                    <p class="mb-0"> {{GetAllList.main.temp_min}}° C </p>
                                </div>
                                <div class="weakly-weather-item">
                                    <p class="mb-1"> Max Temp </p> <i class="mdi mdi-weather-pouring"></i>
                                    <p class="mb-0"> {{GetAllList.main.temp_max}}° C </p>
                                </div>
                                <div class="weakly-weather-item">
                                    <p class="mb-1"> Humidity </p> <i class="mdi mdi-weather-pouring"></i>
                                    <p class="mb-0"> {{GetAllList.main.humidity}} </p>
                                </div>
                                <div class="weakly-weather-item" *ngFor="let WeatherList of GetAllList.weather; let i=index">
                                    <p class="mb-1"> Weather </p> <i class="mdi mdi-weather-snowy-rainy"></i>
                                    <p class="mb-0"> {{WeatherList.main}} </p>
                                </div>
                                <!-- <div class="weakly-weather-item">
                                    <p class="mb-1"> Sat </p> <i class="mdi mdi-weather-snowy"></i>
                                    <p class="mb-0"> 32° </p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!--weather card ends-->
                </div>
            </div>
        </div>
    </div>   
                             
</div>

</body>
</html>
