
<div class="cont">
  
  <div class="form">
    <form [formGroup]="LoginForm">
      <!-- <h1>Login</h1> -->
      <img src="assets/images/abstract-colorful-letter-b-logo-design-for-business-company-with-modern-neon-color-vector.jpg"
        style="width: 50%; margin-left: 85px;" alt="profile image">
      <input type="text"
             class="user" formControlName="email"
             placeholder="User Name"
             [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
             <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
      <input type="password" 
             class="pass" formControlName="password"
             placeholder="Password"
             [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
             <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        <button type="submit" (click)="onSubmit()" class="login">Login</button>
        <button type="submit" (click)="onRegister()" class="login" >Sign Up</button>
    </form>
  </div>
  
</div>
