
body{
  margin-top:20px;
  background:#eee;
}

@media (max-width: 360px) {
   .panel-sub-heading {
    text-align: center;
  }
   .panel-sub-heading .pull-left,  .panel-sub-heading .pull-right {
    float: none !important;
    display: block;
  }
   .panel-sub-heading .pull-right {
    margin-top: 10px;
  }
   .panel-sub-heading img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.navbar-dark .navbar-toggler {
  color: gray;
  border-color: gray;
  margin-top: -97px;
  margin-left: 267px;
}
.navbar-dark .navbar-toggler-icon {
  background-color: gray;
}
.navbar-dark .navbar-nav .nav-link {
  color: #000 !important;
  margin-left: 20px;
  font-size: 15px;
}
.navbar-dark .navbar-nav .nav-link_1 {
  color: #000 !important;
  margin-left: 20px;
  font-size: 15px;
}
.paginate {
  margin-top: -42px;
}

@media only screen and (max-width: 375px)  {
  // .gmail-logo {
  //   display: none;
  // }
  .gmail-logo {
    width: 50%;
    margin-top: -15px;
  }
  .gmail-compose {
    display: none;
  }
  // .gmail-logo-mob {
  //   width: 50%;
  //   margin-top: -30px;
  // }
  .nav-class {
    display: none;
  }
  .sidebar-border-right {
    border: 0;
  }
  .hr-class {
    margin-top: -1rem;
  }
  .menu-icon {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #0c1250;
    margin: 5px 0;
  }
  // .header-menu-mob {
  //   display: block;
  // }
  .trash-single-show-tr:hover {
    background: #0000000d;
    .trash-single-hide {
        display: none;
    }
    .trash-single-show {
      display: block;
    }
  }  
  .trash-single-hide_1 {
    display: none;
  }
  .media-nav {
    display: block;
  }
  .navbar-dark .navbar-nav .nav-link {
    display: block;
  }
  .content-div {
    margin-top: -19px;
  }
}

.collapse-class:before {   
  font-family: FontAwesome;
  content: "\f106";
  float: right;
  color: #000;
  font-size: 17px;
  margin-top: -5px;
  margin-left: 5px !important;
}

.collapse-class.collapsed:before {
  content: "\f107";
  margin-left: 5px !important;
}

@media only screen and (min-width: 1440px)  {
  // .gmail-logo {
  //   width: 100%; 
  //   margin-top: -43px;
  // }
  .gmail-logo {
    width: 18%;
    margin-top: -35px;
  }
  .gmail-compose {
    width: 100%; 
    margin-top: -80px;
  }
  // .gmail-logo-mob {
  //   display: none;
  // }
  .nav-class {
    display: block;
  }
  .sidebar-border-right {
    border-right: 1px solid #0a0a0a2e;
  }
  .menu-icon {
    display: none;
  }
  // .header-menu-mob {
  //   display: none;
  // }
  .hr-class {
    margin-top: 0;
  }
  .trash-single-show-tr:hover {
    background: #0000000d;
    .trash-single-hide {
        display: none;
    }
    .trash-single-show {
      display: block;
    }
  }  
  .media-nav {
    display: none;
  }
  .navbar-dark .navbar-nav .nav-link {
    display: none;
  }
  .content-div {
    margin-top: -139px;
  }
}

/* EMAIL */
.email {
  padding: 20px 10px 15px 10px;
font-size: 1em;
}

.email .btn.search {
font-size: 0.9em;
}

.email h2 {
margin-top: 0;
padding-bottom: 8px;
}


.li-left {
  margin-left: 10px;
  cursor: pointer;
  width: 160px;
  font-size: 14px;
}
.ckbox-theme {
  padding: 2px 5px 0px 5px;
}
  
.trash-single-show {
  display: none;
}

.email .nav.nav-pills > li {
border-top: 3px solid transparent;
}

.email .nav.nav-pills > li > .fa {
margin-right: 5px;
}

.email .nav.nav-pills > li.active, 
.email .nav.nav-pills > li.active:hover {
background-color: #f6f6f6;
border-top-color: #3c8dbc;
}

.email .nav.nav-pills > li.active {
font-weight: 600;
}

// .email .nav.nav-pills > li:hover {
// background-color: #f6f6f6;
// }

.email .nav.nav-pills.nav-stacked > li {
color: #666;
border-top: 0;
border-left: 3px solid transparent;
border-radius: 0px;
}

.email .nav.nav-pills.nav-stacked > li.active,
.email .nav.nav-pills.nav-stacked > li.active:hover {
background-color: #f6f6f6;
border-left-color: #3c8dbc;
color: #444;
}

.email .nav.nav-pills.nav-stacked > li.header {
color: #777;
text-transform: uppercase;
position: relative;
padding: 0px 0 10px 0;
}

.email table {
font-weight: 600;
}

.email table a {
color: #666;
}

.email table tr.read > td {
background-color: #f6f6f6;
}

.email table tr.read > td {
font-weight: 400;
}

.email table tr td > i.fa {
font-size: 1.2em;
line-height: 1.5em;
text-align: center;
}

.email table tr td > i.fa-star {
color: #f39c12;
}

.email table tr td > i.fa-bookmark {
color: #e74c3c;
}

.email table tr > td.action {
padding-left: 10px;
padding-right: 2px;
}

.grid {
  position: relative;
  width: 100%;
  background: #fff;
  color: #666666;
  border-radius: 2px;
  margin-bottom: 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.grid .grid-header:after {
  clear: both;
}

.grid .grid-header span,
.grid .grid-header > .fa {
  display: inline-block;
  margin: 0;
  font-weight: 300;
  font-size: 1.5em;
  float: left;
}

.grid .grid-header span {
  padding: 0 5px;
}

.grid .grid-header > .fa {
  padding: 5px 10px 0 0;
}

.grid .grid-header > .grid-tools {
  padding: 4px 10px;
}

.grid .grid-header > .grid-tools a {
  color: #999999;
  padding-left: 10px;
  cursor: pointer;
}

.grid .grid-header > .grid-tools a:hover {
  color: #666666;
}

.grid .grid-body {
  padding: 15px 20px 15px 20px;
  font-size: 0.9em;
  line-height: 1.9em;
}

.grid .full {
  padding: 0 !important;
}

.grid .transparent {
  box-shadow: none !important;
  margin: 0px !important;
  border-radius: 0px !important;
}

.grid.top.black > .grid-header {
  border-top-color: #000000 !important;
}

.grid.bottom.black > .grid-body {
  border-bottom-color: #000000 !important;
}

.grid.top.blue > .grid-header {
  border-top-color: #007be9 !important;
}

.grid.bottom.blue > .grid-body {
  border-bottom-color: #007be9 !important;
}

.grid.top.green > .grid-header {
  border-top-color: #00c273 !important;
}

.grid.bottom.green > .grid-body {
  border-bottom-color: #00c273 !important;
}

.grid.top.purple > .grid-header {
  border-top-color: #a700d3 !important;
}

.grid.bottom.purple > .grid-body {
  border-bottom-color: #a700d3 !important;
}

.grid.top.red > .grid-header {
  border-top-color: #dc1200 !important;
}

.grid.bottom.red > .grid-body {
  border-bottom-color: #dc1200 !important;
}

.grid.top.orange > .grid-header {
  border-top-color: #f46100 !important;
}

.grid.bottom.orange > .grid-body {
  border-bottom-color: #f46100 !important;
}

.grid.no-border > .grid-header {
  border-bottom: 0px !important;
}

.grid.top > .grid-header {
  border-top-width: 4px !important;
  border-top-style: solid !important;
}

.grid.bottom > .grid-body {
  border-bottom-width: 4px !important;
  border-bottom-style: solid !important;
}






