<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="#">
	<img src="https://cdn.vox-cdn.com/thumbor/Tbqi3ZF9Qz0fTJIUvkgQe3FdN0k=/1400x788/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/21939811/newgmaillogo.jpg" alt="Girl in a jacket" 
	class="gmail-logo" >
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link_1" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{UserName}}</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#"><i class="fa fa-inbox"></i> Inbox ( {{TotalRecord}} )</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#"><i class="fa fa-star"></i> Starred</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#"><i class="fa fa-bookmark"></i> Important</a>
		</li>    
    </ul>
  </div>  
</nav>

<div class="row">
	<!-- BEGIN INBOX -->
	<div class="col-md-12">
		<div class="grid email">
			<div class="grid-body">
				<div class="row">
					<!-- BEGIN INBOX MENU -->
					<div class="col-md-2 sidebar-border-right">
						<img src="https://it.stonybrook.edu/sites/default/files/articles/33851/images/new-gmail-compose-button.jpg" alt="Girl in a jacket" 
							data-toggle="modal" data-target="#compose-modal" class="gmail-compose" >
						<hr class="hr-class">
						<div class="nav-class">
							<ul class="nav nav-pills nav-stacked">
								<li class="header li-left">Folders</li><br>
								<li class="active li-left"><i class="fa fa-inbox"></i> Inbox ( {{TotalRecord}} )</li><br>
								<li class="li-left"><i class="fa fa-star"></i> Starred</li><br>
								<li class="li-left"><i class="fa fa-pencil-square-o"></i> Snoozed</li><br>
								<li class="li-left"><i class="fa fa-bookmark"></i> Important</li><br>
								<li class="li-left"><i class="fa fa-mail-forward"></i> Sent</li><br>
								<li class="li-left"><i class="fa fa-pencil-square-o"></i> Drafts</li><br>
								<li class="li-left" style="margin-left: 10px; cursor: pointer;" class="collapse-class" data-toggle="collapse" data-target="#more"><b>More</b></li><br>
								<li class="li-left collapse" id="more"><i class="fa fa-star"></i> All mail</li><br>
								<li class="li-left collapse" id="more"><i class="fa fa-bookmark"></i> Scheduled</li><br>
								<li class="li-left collapse" id="more"><i class="fa fa-mail-forward"></i> Spam</li><br>
								<li class="li-left collapse" id="more"><i class="fa fa-pencil-square-o"></i> Bin</li><br>
							</ul>
						</div>
					</div>
					<!-- END INBOX MENU -->
					<div class="col-md-1"></div>
					<!-- BEGIN INBOX CONTENT -->
					<div class="col-md-8 content-div">
						<div class="row">
							<div class="col-md-8 search-form">
								<form action="#" class="text-right">
									<div class="input-group">
										<input type="text" class="form-control input-sm" name="SearchText" [(ngModel)]='SearchText' placeholder="Search">
										<!-- <input type="text" class="form-control input-sm" name="Search" (ngModelChange)='onSearch($event)' [(ngModel)]='Search' placeholder="Search"> -->
										<span class="input-group-btn">
											<button type="button" style="height: 38px;" class="btn_ btn-primary btn-sm search" readonly><i class="fa fa-search"></i></button>
										</span>
									</div>			 
								</form>
							</div>
							<div class="col-sm-4"></div>
						</div>
					<div class="col-md-1"></div>
					<div class="padding"></div>
					<br>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="btn-group">
							<div class="ckbox ckbox-theme">
								<input id="chkRemoveAll" type="checkbox" class="mail-group-checkbox mail-check" (change)="CheckAllRemove_1($event)" >
								<label for="chkRemoveAll"></label>
							</div>
							<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
								All <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">None</a></li>
								<li><a href="#">Read</a></li>
								<li><a href="#">Unread</a></li>
							</ul>
							</div>
							<div class="btn-group" *ngIf="showCheked" >
								<button class="btn btn-default btn-sm tooltips" type="button" ><i class="fa fa-inbox"></i></button>
								<!-- <button class="btn btn-default btn-sm tooltips" type="button" ><i class="fa fa-warning"></i></button> -->
								<button class="btn btn-default btn-sm tooltips" type="button" (click)='onRemoveAll()'><i class="fa fa-trash-o"></i></button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-sm">More</button>
								<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#"><i class="fa fa-edit"></i> Mark as read</a></li>
									<li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 paginate" style="text-align: right;">
							<p>{{starting_no}}-{{ending_no}} of {{TotalRecord}}</p>
							<div class="btn-group">
							<button class="btn btn-default btn-sm tooltips" (click)='onChangeNextPage_1()' type="button" ><i class="fa fa-angle-left"></i></button>
							<button class="btn btn-default btn-sm tooltips" (click)='onChangeNextPage_2()' type="button" ><i class="fa fa-angle-right"></i></button>
							</div>
						</div>
					</div>
					<br>
					<div class="table-responsive mail-box">
						<table class="table">
							<tbody>
								<tr class="trash-single-show-tr" *ngFor="let List of GetInboxList | filter: SearchText ; let i=index" >
								<!-- <tr class="trash-single-show-tr" *ngFor="let List of GetInboxList; let i=index" > -->
								<td class="action"><input type="checkbox" class="mail-check" id='chk1{{i}}'  
									(change)="CheckAllRemove($event, List.id)" /></td>
								<td class="action"><i class="fa fa-star-o"></i></td>
								<td class="action"><i class="fa fa-bookmark-o"></i></td>
								<td class="name">{{List.subject}}</td>
								<td class="subject trash-single-hide_1">{{List.content}}</td>
								<td class="time trash-single-hide">{{List.time}}</td>
								<td class="time trash-single-show">
									<div class="btn-group">
									<button class="btn btn-default btn-sm tooltips" (click)='onRemove(List.id)' type="button" title="" ><i class="fa fa-trash"></i></button>
									<button class="btn btn-default btn-sm tooltips" type="button" title="" ><i class="fa fa-download"></i></button>
									<button class="btn btn-default btn-sm tooltips" type="button" title="" ><i class="fa fa-clock-o"></i></button>
									</div>
								</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- END INBOX CONTENT -->
				<!-- BEGIN COMPOSE MESSAGE -->
				<div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-wrapper">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header bg-blue">
									<h4 class="modal-title"><i class="fa fa-envelope"></i> Compose New Message</h4>
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								</div>
								<form action="#" method="post">
									<div class="modal-body">
										<div class="form-group">
											<ng-multiselect-dropdown
												[placeholder]="'To'"
												[data]="dropdownList"
												[(ngModel)]="selectedItems"
												[settings]="dropdownSettings"
												(onSelect)="onItemSelect($event)"
												(onSelectAll)="onSelectAll($event)">
											</ng-multiselect-dropdown>
										</div>
										<div class="form-group">
											<input name="cc" type="email" class="form-control" placeholder="Cc">
										</div>
										<div class="form-group">
											<input name="bcc" type="email" class="form-control" placeholder="Bcc">
										</div>
										<div class="form-group">
											<input name="subject" type="email" class="form-control" placeholder="Subject">
										</div>
										<div class="form-group">
											<textarea name="message" id="email_message" class="form-control" placeholder="Message" style="height: 120px;"></textarea>
										</div>
										<div class="form-group">														
											<input type="file" name="attachment">
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>
										<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-envelope"></i> Send </button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- END COMPOSE MESSAGE -->
				</div>
			</div>
		</div>
	</div>
	<!-- END INBOX -->
</div>

</body>
</html>


