@import '../styles';

:host {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 1rem;
  font-family: $type-1;
}

// .app-sidebar-color {
//   background-color: #fff;
// }

body {
  background: #000 ;
}
