
// // HEADER NAV STYLE

// #back-to-top {
//     border-radius: 50px;
//     display: block; 
//     opacity: 1.6;
//     bottom: 15px;
//     right: 15px;
//     height: 50px;
//     width: 50px;
//     z-index: 100;
//     overflow: hidden;
//     display: none;
//     cursor: pointer;
//     position: fixed;
//     text-align: center;
//     font-size: 30px;
//     text-decoration: none;
//     background-color: #F6C762;
//     color:black;
//     transition: all 0.4s ease-in-out 0s;
// } 

// .sticky-top-fixed {
//   background-color: rgb(134, 124, 124) !important;
// }

// .bg-white {
//     background: rgba(255,255,255,.85) !important;
// }

// .header-logo {
//     margin: 0px;
// }

// .donate-input {
//   border-bottom: 1px solid #503b3b66 !important;
//   height: 100% !important;
// }
// .donate-input:focus {
//   border-bottom: 1px solid #503b3bc9 !important;
//   border-top: 0px solid #fff !important;
//   border-left: 0px solid #fff !important;
//   border-right: 0px solid #fff !important;
//   outline: none;
// }
// .donate-select {
//   border-bottom: 1px solid #503b3b66 !important;
// }
// .donate-select:focus {
//   border-bottom: 1px solid #503b3bc9 !important;
//   border-top: 0px solid #fff !important;
//   border-left: 0px solid #fff !important;
//   border-right: 0px solid #fff !important;
//   outline: none;
// }

// .nxt-step {
//   background: #e3ca94;
//   border-color: #e3ca94;
//   border-radius: 0;
//   font-weight: 400;
//   padding: 8px 20px;
//   color: #503b3b;
//   font-weight: bold;
//   width: 100%;
// }

// .nav-menu {
//     background: #503b3b;
//     float: left;
//     width: 100%;
//     margin: 0;
//     clear: both;
// }
// .menu-tag {
//     color: #fff;
//     font-size: 16px;
//     font-weight: 700;
//     text-transform: uppercase;
//     padding: 10px 15px;
//     cursor: pointer;
//     position: relative;
//     z-index: 1;
// }

// // CONTACT

// .contact-h2 {
//   font-weight: 400;
//   margin-bottom: 0;
//   padding-bottom: 25px;
//   position: relative;
//   letter-spacing: normal;
//   font-family: Roboto Slab;
//   font-weight: 700;
//   line-height: 50px;
//   text-align: inherit;
//   text-transform: none;
//   color: #503b3b;
// }
// .contact-h2-1 {
//   font-weight: 400;
//   margin-bottom: 0;
//   padding-bottom: 25px;
//   position: relative;
//   letter-spacing: normal;
//   font-family: Roboto Slab;
//   font-weight: 700;
//   line-height: 50px;
//   text-align: inherit;
//   text-transform: none;
//   color: #fff;
// }
// .contact-h2-1:before {
//   position: absolute;
//   content: "\f004";
//   display: block;
//   bottom: -21px;
//   left: -5px;
//   right: 0;
//   margin: 0 auto;
//   font-family: FontAwesome;
//   font-size: 24px;
//   color: #fff;
// }
// .contact-h2:before {
//   position: absolute;
//   content: "\f004";
//   display: block;
//   bottom: -21px;
//   left: -5px;
//   right: 0;
//   margin: 0 auto;
//   font-family: FontAwesome;
//   font-size: 24px;
// }
// .contact-h2-1:after {
//   position: absolute;
//   content: "\f08a";
//   display: block;
//   bottom: -22px;
//   left: 0;
//   right: 0;
//   margin: 0 auto;
//   font-family: FontAwesome;
//   font-size: 28px;
//   color: #fff;
// }
// .contact-h2:after {
//   position: absolute;
//   content: "\f08a";
//   display: block;
//   bottom: -22px;
//   left: 0;
//   right: 0;
//   margin: 0 auto;
//   font-family: FontAwesome;
//   font-size: 28px;
// }
// .contact-div {
//   width: 100%;
//   text-align: center;
//   margin-bottom: 35px;
// }
// .contact-h3 {
//   margin-top: 0;
//   padding-top: 16px;
//   position: relative;
//   font-family: Roboto Slab;
//   font-weight: 700;
//   line-height: 48px;
//   text-align: inherit;
//   text-transform: none;
//   color: #2b2b2b;
// }
// .contact-h3:before {
//   border-color: #e3ca94;
//   position: absolute;
//   content: "";
//   display: block;
//   top: -2px;
//   left: -90px;
//   right: 0;
//   margin: 0 auto;
//   width: 50px;
//   height: 12px;
//   border-width: 1px;
//   border-style: solid;
//   border-bottom: none;
//   border-right: none;
// }
// .contact-h3:after {
//   border-color: #e3ca94;
//   position: absolute;
//   content: "";
//   display: block;
//   top: -13px;
//   right: -87px;
//   left: 0;
//   margin: 0 auto;
//   width: 50px;
//   height: 12px;
//   border-width: 1px;
//   border-style: solid;
//   border-top: none;
//   border-left: none;
// }
// .enquiry-content {
//   background-color: #503b3b;
// }
// .enquiry-input {
//   background-color: #503b3b !important;
//   border-bottom: 1px solid rgba(255,255,255,.15) !important;
// }
// .enquiry-mail {
//   background-color: #fff !important;
// }
// .contact-h5 {
//   font-size: 18px;
//   font-family: Roboto Slab;
//   font-weight: 100;
//   line-height: 28px;
//   text-align: inherit;
//   text-transform: none;
//   margin-top: 0;
//   padding-top: 16px;
//   position: relative;
// }
// .contact-h5:before {
//   border-color: #e3ca94;
//   position: absolute;
//   content: "";
//   display: block;
//   top: -2px;
//   left: -90px;
//   right: 0;
//   margin: 0 auto;
//   width: 50px;
//   height: 12px;
//   border-width: 1px;
//   border-style: solid;
//   border-bottom: none;
//   border-right: none;
// }
// .contact-h5:after {
//   border-color: #e3ca94;
//   position: absolute;
//   content: "";
//   display: block;
//   top: -13px;
//   right: -87px;
//   left: 0;
//   margin: 0 auto;
//   width: 50px;
//   height: 12px;
//   border-width: 1px;
//   border-style: solid;
//   border-top: none;
//   border-left: none;
// }
// .enquiry-img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   position: absolute;
// }
// .contact-icon {
//   border: 1px solid #a34d3c;
// }
// .contact-content-div {
//   background-color: #fff;
// }
// .contact-icon:hover {
//   border: 1px solid #a34d3c;
// }
// .contact-icon-svg {
//   background-color: #e3ca94;
// }
// .contact-icon-svg:hover {
//   background-color: #e3ca9466;
// }
// .contact-icon-svg img{
//   transition-duration: 2s;
//   margin: 0 auto;
//   display: block;
// }
// .enquiry-content {
//   color: #fff !important;
// }
// .enquiry-mail {
//   height: 100%;
// }

// .btn-donate-mob {
//   background: #e08d20;
//   border: none;
//   border-radius: 30px;
//   font-weight: 400;
//   padding: 8px 20px;
//   color: #fff;
// }

// @media only screen and (max-width: 760px) {
//     .btn-donate {
//         display: none;
//     }
//     .header-logo {
//         margin-left: 20px;
//     }
//     .btn-donate-mob {
//         display: block;
//     }
//     .btn-donate {
//         display: none;
//     }
//     .navbar {
//         background: #fff !important;
//         float: left;
//     }
// }

// @media only screen and (min-width: 760px) {
//     .nav-menu {
//         display: none;
//     }
//     .btn-donate-mob {
//         display: none;
//     }
// }

// @media only screen and (max-width: 760px) {
//     .navbar-toggler span {
//         color: #fff !important;
//         display: block;
//         background-color: #fff;
//         height: 3px;
//         width: 25px;
//         margin-top: 4px;
//         margin-bottom: 4px;
//     }
//     // .navbar-collapse {
//     //     background-color: #F6C762;
//     //     position: absolute;
//     //     left: 0;
//     //     top: 0;
//     //     padding-top: 50px;
//     //     padding-left: 30px;
//     //     padding-right: 15px;
//     //     padding-bottom: 15px;
//     //     width: 20em;
//     //     height: 100vh;
//     //     z-index: 100;
//     //     top: 60px;
//     // }
//     // .navbar-collapse.collapsing {
//     //     height: auto;
//     //     -webkit-transition: left 0.3s ease;
//     //     -o-transition: left 0.3s ease;
//     //     -moz-transition: left 0.3s ease;
//     //     transition: left 0.3s ease;
//     //     left: -20.3em;
//     //     height: 100vh;
//     // }
//     // .navbar-collapse.show {
//     //     left: 0;
//     //     -webkit-transition: left 0.3s ease-in;
//     //     -o-transition: left 0.3s ease-in;
//     //     -moz-transition: left 0.3s ease-in;
//     //     transition: left 0.3s ease-in;
//     // }
//     .navbar-toggler {
//         // position: absolute;
//         display: block;
//         background-color: #fff;
//     }
//     // .navbar-toggler {
//     //     top: 27%;
//     // }
//     // .navbar-toggler:focus {
//     //     outline: none;
//     // }
//     // .navbar-toggler span {
//     //     display: block;
//     //     background-color: #fff;
//     //     height: 3px;
//     //     width: 25px;
//     //     margin-top: 4px;
//     //     margin-bottom: 4px;
//     //     -webkit-transform: rotate(0deg);
//     //     -moz-transform: rotate(0deg);
//     //     -o-transform: rotate(0deg);
//     //     transform: rotate(0deg);
//     //     position: relative;
//     //     left: 0;
//     //     opacity: 1;
//     // }
//     // .navbar-toggler span:nth-child(1),
//     // .navbar-toggler span:nth-child(3) {
//     //     -webkit-transition: transform .35s ease-in-out;
//     //     -moz-transition: transform .35s ease-in-out;
//     //     -o-transition: transform .35s ease-in-out;
//     //     transition: transform .35s ease-in-out;
//     // }
//     // .navbar-toggler:not(.collapsed) span:nth-child(1) {
//     //     position: absolute;
//     //     left: 12px;
//     //     top: 10px;
//     //     -webkit-transform: rotate(135deg);
//     //     -moz-transform: rotate(135deg);
//     //     -o-transform: rotate(135deg);
//     //     transform: rotate(135deg);
//     //     opacity: 0.9;
//     // }
//     // .navbar-toggler:not(.collapsed) span:nth-child(2) {
//     //     height: 12px;
//     //     visibility: hidden;
//     //     background-color: transparent;
//     // }
//     // .navbar-toggler:not(.collapsed) span:nth-child(3) {
//     //     position: absolute;
//     //     left: 12px;
//     //     top: 10px;
//     //     -webkit-transform: rotate(-135deg);
//     //     -moz-transform: rotate(-135deg);
//     //     -o-transform: rotate(-135deg);
//     //     transform: rotate(-135deg);
//     //     opacity: 0.9;
//     // }
// }


// .nav-link-color {
//     color: #8e3b3b;
//     font-family: "Roboto Slab",Georgia,serif;
//     float: left;
//     padding: 0px;
//     // line-height: 90px;
//     font-weight: 400;
//     font-size: 14px;
//     text-transform: uppercase;
//     // letter-spacing: .2px;
// }
// .nav-link-color:hover {
//     color: #e08d20 !important;
//     // font-family: "Roboto Slab",Georgia,serif;
//     // float: left;
//     // padding: 0px;
//     // line-height: 90px;
//     // font-weight: 400;
//     // font-size: 14px;
//     // text-transform: uppercase;
//     // letter-spacing: .2px;
// }
// .btn-donate {
//     background: #e08d20;
//     border: none;
//     border-radius: 30px;
//     font-weight: 400;
//     padding: 8px 20px;
//     color: #fff;
// }
// // .navbar {
// //   background: #0a0a0a;
// // }

// // FOOTER
// .footer {
//     background: #e3ca94;
// }
// .footer-p-without {
//     color: #000;
//     font-weight: 600;
// }
// .footer-p-white {
//   color: #fff;
//   font-weight: 600;
// }
// .footer-p {
//     color: #000;
//     font-weight: 600;
// }
// .footer-h {
//     // font-family: 'Roboto Slab Bold' !important;
//     font-size: 25px;
//     font-weight: 600;
//     line-height: 36px;
//     text-align: left;
//     text-transform: none;
//     color: #000;
// }
// .footer-h:after {
//     content: "";
//     position: absolute;
//     clear: both;
//     display: block;
//     margin: 0;
//     position: relative;
//     width: 100%;
//     margin-top: 10px;
//     height: 3px;
//     width: 35px;
//     background: #a34d3c;
// }
// .footer-p-row {
//     color: #a34d3c;
// }
// .footer-p-row:after {
// // .footer-p:after {
//     content: "";
//     border-bottom: 1px dashed;
//     /* clear: both; */
//     display: block;
//     /* margin: 0; */
//     position: relative;
//     /* width: 100%; */
//     //  margin-top: 10px;
// }
// .footer-p:hover {
//     color: #a34d3c;
//     cursor: pointer;
// }
// // .footer-p:before {
// .footer-p-before {
//     content: "";
//     position: absolute;
//     clear: both;
//     display: block;
//     margin: 0;
//     position: relative;
//     width: 100%;
//     margin-top: 10px;
//     height: 3px;
//     width: 10px;
//     background: #a34d3c;
// }
// .footer-social {
//     background-color: #202020;
// }
// // START FOOTER SOCIAL 
// .facebook {
//     color: #fff;
//     display: inline;
//     padding: 0;
// }
// .facebook:before {
//     content: "\f09a";
//     font-family: "FontAwesome";
//     color: rgba(255,255,255,.6);
//     width: 36px;
//     height: 36px;
//     float: left;
//     text-align: center;
//     line-height: 36px;
//     font-size: 16px;
// }
// .facebook:hover::before {
//     content: "\f09a";
//     font-family: "FontAwesome";
//     color: #e3ca94 !important;
//     width: 36px;
//     height: 36px;
//     float: left;
//     text-align: center;
//     line-height: 36px;
//     font-size: 16px;
//     cursor: pointer;
// }
// .flickr {
//     color: #fff;
//     display: inline;
//     padding: 0;
// }
// .flickr:before {
//     content: "\f16e";
//     font-family: "FontAwesome";
//     color: rgba(255,255,255,.6);
//     width: 36px;
//     height: 36px;
//     float: left;
//     text-align: center;
//     line-height: 36px;
//     font-size: 16px;
// }
// .flickr:hover::before {
//     content: "\f16e";
//     font-family: "FontAwesome";
//     color: #e3ca94 !important;
//     width: 36px;
//     height: 36px;
//     float: left;
//     text-align: center;
//     line-height: 36px;
//     font-size: 16px;
//     cursor: pointer;
// }
// .google-plus {
//     color: #fff;
//     display: inline;
//     padding: 0;
// }
// .google-plus:before {
//     content: "\f0d5";
//     font-family: "FontAwesome";
//     color: rgba(255,255,255,.6);
//     width: 36px;
//     height: 36px;
//     float: left;
//     text-align: center;
//     line-height: 36px;
//     font-size: 16px;
// }
// .google-plus:hover::before {
//     content: "\f0d5";
//     font-family: "FontAwesome";
//     color: #e3ca94 !important;
//     width: 36px;
//     height: 36px;
//     float: left;
//     text-align: center;
//     line-height: 36px;
//     font-size: 16px;
//     cursor: pointer;
// }
// .instagram {
//     color: #fff;
//     display: inline;
//     padding: 0;
// }
// .instagram:before {
//     content: "\f16d";
//     font-family: "FontAwesome";
//     color: rgba(255,255,255,.6);
//     width: 36px;
//     height: 36px;
//     float: left;
//     text-align: center;
//     line-height: 36px;
//     font-size: 16px;
// }
// .instagram:hover::before {
//     content: "\f16d";
//     font-family: "FontAwesome";
//     color: #e3ca94 !important;
//     width: 36px;
//     height: 36px;
//     float: left;
//     text-align: center;
//     line-height: 36px;
//     font-size: 16px;
//     cursor: pointer;
// }
// .twitter {
//     color: #fff;
//     display: inline;
//     padding: 0;
// }
// .twitter:before {
//     content: "\f099";
//     font-family: "FontAwesome";
//     color: rgba(255,255,255,.6);
//     width: 36px;
//     height: 36px;
//     float: left;
//     text-align: center;
//     line-height: 36px;
//     font-size: 16px;
// }
// .twitter:hover::before {
//     content: "\f099";
//     font-family: "FontAwesome";
//     color: #e3ca94 !important;
//     width: 36px;
//     height: 36px;
//     float: left;
//     text-align: center;
//     line-height: 36px;
//     font-size: 16px;
//     cursor: pointer;
// }
// // END FOOTER SOCIAL 

// // WIZARD FORM

// :root {
//   --green: #a28d60;
//   --active: #965f16f5;
// }

// .nav-tabs.wizard {
//   background-color: transparent;
//   padding: 0;
//   width: 100%;
//   margin: 1em auto;
//   border-radius: .25em;
//   clear: both;
//   border-bottom: none;
// }

// /*.nav-tabs.wizard li {
//   width: 100%;
//   float: none;
//   margin-bottom: 3px;
// }*/

// .nav-tabs.wizard li>* {
//   position: relative;
//   padding: 1em .8em .8em 2.5em;
//   color: #999999;
//   background-color: #dedede;
//   border-color: #dedede;
// }

// .nav-tabs.wizard li.completed>* {
//   color: #fff;
//   background-color: #e3ca94;
//   border-color: #e3ca94;
//   // border-bottom: none;
// }

// .nav-tabs.wizard li.active>* {
//   color: #fff;
//   background-color: var(--active);
//   border-color: var(--active);
//   // border-bottom: none;
// }

// .nav-tabs.wizard li::after:last-child {
//   border: none;
// }

// .nav-tabs.wizard > li > a {
//   opacity: 1;
//   font-size: 14px;
// }

// .nav-tabs.wizard a:hover {
//   color: #fff;
//   background-color: var(--active);
//   border-color: var(--active)
// }

// span.step {
//   display: inline-block;
//   padding: 10px 10px 10px 10px;
//   background: #ffffff;
//   width: auto;
//   line-height: 100%;
//   height: auto;
//   margin: auto;
//   border-radius: 10%;
//   font-weight: bold;
//   font-size: 16px;
//   color: #555;
//   margin-bottom: 10px;
//   text-align: center;
// }

// @media(min-width:992px) {
//   .nav-tabs.wizard li {
//     position: relative;
//     padding: 0;
//     margin: 4px 4px 4px 0;
//     width: 19.6%;
//     float: left;
//   }
//   .nav-tabs.wizard li.active a {
//     // padding-top: 15px;
//   }
//   .nav-tabs.wizard li::after,
//   .nav-tabs.wizard li>*::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 100%;
//     height: 0;
//     width: 0;
//     border: 45px solid transparent;
//     border-right-width: 0;
//     /*border-left-width: 20px*/
//   }
//   .nav-tabs.wizard li::after {
//     z-index: 1;
//     -webkit-transform: translateX(4px);
//     -moz-transform: translateX(4px);
//     -ms-transform: translateX(4px);
//     -o-transform: translateX(4px);
//     transform: translateX(4px);
//     border-left-color: #fff;
//     margin: 0
//   }
//   .nav-tabs.wizard li>*::after {
//     z-index: 2;
//     border-left-color: inherit;
//   }
//   .nav-tabs.wizard > li:nth-of-type(1) > a {
//     border-top-left-radius: 10px;
//     border-bottom-left-radius: 10px;
//   }
//   .nav-tabs.wizard li:last-child a {
//     border-top-right-radius: 10px;
//     border-bottom-right-radius: 10px;
//   }
//   .nav-tabs.wizard li:last-child {
//     margin-right: 0;
//   }
//   .nav-tabs.wizard li:last-child a:after,
//   .nav-tabs.wizard li:last-child:after {
//     content: "";
//     border: none;
//   }
//   span.step {
//     display: block;
//   }
// }


// // GALLERY

// .page-title {
//   position: relative;
//   color: #fff;
//   padding: 40px 0 30px;
//   background-position: center center;
//   background-size: cover;
//   background-repeat: no-repeat;
// }
// .page-title:before {
//   position: absolute;
//   content: '';
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   display: block;
//   background-color: rgba(0,0,0,.8);
// }
// .auto-container {
//   position: static; 
//   max-width: 1200px;
//   padding: 10px 15px;
//   margin: 0 auto;
// }
// .bread-crumb{
//   position: relative;
//     line-height: 40px;
//     text-align: right;
//     margin-right: 30px;
// }
// .bread-crumb li {
//   position: relative;
//   display: inline-block;
//   line-height: 30px;
//   margin-left: 25px;
//   color: #ff5722;
//   font-size: 16px;
//   font-weight: 400;
// }
// .bread-crumb li:before {
//   content: '/';
//   position: absolute;
//   right: -20px;
//   top: 0;
//   width: 15px;
//   color: #fff;
//   text-align: center;
//   line-height: 30px;
// }
// .bread-crumb li:first-child {
//   margin-left: 0;
// }

// .donate-div {
//   border: 1px solid #503b3b;
// }

// .tile {
//   z-index: 0;
//   position: relative;
//   display: inline-block;
//   float: none;
//   margin: 1%;
//   padding: 0;
//   max-width: 46.5%;
//   height: 270px;
//   width: 100%;
//   text-align: center;
//   background: #eee;
//   overflow: hidden;
//   transition: -webkit-transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
//   transition: transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
//   transition: transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875),-webkit-transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
// }
// .title-column {
//     color: #fff;
// }
// .tile:hover, .tile:focus {
//   box-shadow: 0 10px 40px rgba(0,0,0,0.1);
// }
// .tile-quad {
//   max-width: 30.3333%;
//   height: 200px;
//   border: 3px solid #666;
// }
// .tile figure {
//   z-index: 0;
//   margin: 0;
//   position: absolute;
//   background-position: center;
//   background-size: cover;
//   background-attachment: scroll;
//   background-repeat: no-repeat;
//   width: 100%;
//   height: 100%;
//   transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
// }
// .title {
//     font-size: 2rem;
//     color: #21323b;
//     font-weight: 600;
// }
// .tile:hover figure, .tile:focus figure { 
//   transform: scale(1.1);
// }
// .tile a {
//   display: table;
//   position: relative;
//   float: left;
//   padding: 0;
//   margin: 0;
//   width: 100%;
//   height: 100%;
//   color: transparent;
//   /*  background: rgba(0,0,0,.5); */
//   transition: all .25s;
// }
// .tile a div {
//   position: relative;
//   display: table-cell;
//   vertical-align: middle;
//   padding: 0 2rem;
// }
// .tile h3 {
//   margin: 0 auto;
//   font-size: 1rem;
//   color: #fff;
//   padding: 0 0 1rem;
//   line-height: 1;
//   text-decoration:none;
// }
// .tile p {
//   margin: 0 auto;
//   color: #fff;
//   font-size: 1.15rem;
//   font-weight: 400;
//   line-height: 1.2;
//   width: auto;
//   transition: opacity 0s, max-height 0s;
// }

// .tile a:hover p, .tile a:focus p {
//   color: #fff;
//   transition: all .5s;
// }


// .bg-color {
//   background: rgba(0, 0, 0, 0.582);
//   text-decoration:none;
// }
// .bg-color:hover{
//   background: rgba(0, 0, 0, 0);
//   text-decoration:none;
// }


// @media screen and (max-width: 700px) {
//   .tile,
//   .tile:nth-child(2),
//   .tile:nth-child(4),
//   .tile:nth-child(6),
//   .tile:nth-child(8) {
//     max-width: 97%;
//   }
// }




/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import './assets/styles/variables';
@import "../node_modules/compass-mixins/lib/compass";
@import "../node_modules/compass-mixins/lib/animate";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@mdi/font/scss/materialdesignicons";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "./assets/styles/fonts";
@import "./assets/styles/functions";
@import "./assets/styles/mixins/background";
@import "./assets/styles/mixins/animation";
@import "./assets/styles/mixins/badges";
@import "./assets/styles/mixins/breadcrumbs";
@import "./assets/styles/mixins/pagination";
@import "./assets/styles/mixins/buttons";
@import "./assets/styles/mixins/misc";
@import "./assets/styles/mixins/color-functions";
@import "./assets/styles/mixins/cards";
@import "./assets/styles/mixins/tooltips";
@import "./assets/styles/mixins/popovers";
@import "./assets/styles/mixins/blockqoute";
@import "./assets/styles/accordions";
@import "./assets/styles/breadcrumbs";
@import "./assets/styles/forms";
@import "./assets/styles/icons";
@import "./assets/styles/tables";
@import "./assets/styles/buttons";
@import "./assets/styles/badges";
@import "./assets/styles/cards";
@import "./assets/styles/typography";
@import "./assets/styles/preview";
@import "./assets/styles/lists";
@import "./assets/styles/bootstrap-progress";
@import "./assets/styles/bootstrap-alerts";
@import "./assets/styles/tabs";
@import "./assets/styles/dropdowns";
@import "./assets/styles/pagination";
@import "./assets/styles/popovers";
@import "./assets/styles/modals";
@import "./assets/styles/nav";
@import "./assets/styles/reset";
@import "./assets/styles/rating";
@import "./assets/styles/layouts";
@import "./assets/styles/tooltips";
@import "./assets/styles/responsive";
@import "./assets/styles/misc";
@import "./assets/styles/utilities";
@import "./assets/styles/demo";
// TOASTR START
    // regular style toast 
    @import '~ngx-toastr/toastr';
    // bootstrap style toast 
    // or import a bootstrap 4 alert styled design (SASS ONLY) 
    // should be after your bootstrap imports, it uses bs4 variables, mixins, functions 
    @import '~ngx-toastr/toastr-bs4-alert';
    // if you'd like to use it without importing all of bootstrap it requires 
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~ngx-toastr/toastr-bs4-alert';
// TOASTR END
/* You can add global styles to this file, and also import other style files */


// .logo-design{
//   font-family: 'Pacifico';
//   color: #a34d3c;
//   // font-weight: bolder;
// }
// .logo-design:hover{
//   cursor: pointer;
// }
// .logo-design:focus{
//   outline: none;
// }

// body {
//   padding-top: 75px;
// }
// @media (max-width: 979px) {
//   body {
//     margin-top: 100px;
//   }
// }

// .bread-crumb li {
//   position: relative;
//   display: inline-block;
//   line-height: 30px;
//   margin-left: 25px;
//   color: #ffb168;
//   font-size: 16px;
//   font-weight: 400;
// }


// .floating-label-group {
//   position: relative;
//   width: 100%;

// 	.floating-label {
// 		font-size: 13px;
// 		color: #cccccc;
// 		position: absolute;
// 		pointer-events: none;
// 		top: 9px;
// 		left: 12px;
// 		transition: all 0.1s ease;
// 	}

// 	input:focus ~ .floating-label,
// 	input:not(:focus):valid ~ .floating-label {
// 		top: -15px;
// 		bottom: 0px;
// 		left: 0px;
// 		font-size: 11px;
// 		opacity: 1;
// 		color: #a34d3c;
// 	}
// }

// .home-side-a {
//   color: #fff !important;
// }
// .home-side-div {
//   border-top: 5px solid #a34d3c;
//   border-bottom: 5px solid #a34d3c;
// }

// @media only screen and (max-width: 400px) {
// .logo-design{
//   font-family: 'Pacifico';
//   color: #a34d3c;
//   font-size:1.6rem;
// }
// .logo-design:hover{
//   cursor: pointer;
// }
// .logo-design:focus{
//   outline: none;
// }
// .carousel-inner {
//   position: relative;
//   width: 100%;
//   overflow: hidden;
//   margin-top:1rem;
// }

// }




